<div>
    <header>
    <h1>MadLibz!</h1>
  </header>

  <div>
      <h2>Don't forget to Google what a nound is!</h2>
    </div>
    <div class="madlibz">
    </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</div>